.english{
    background-color: lightblue;
    color: black;
    padding: 20px;
    text-align: center;
}
.malayalam{
    background-color: lightgreen;
    color: black;
    padding: 20px;
    text-align: center;
}